Atualmente você é um assinante mensal.
Atualmente você está jogando em
uma Lan afiliada ao Cabal Online.
O melhor lutador corpo a corpo que possui poderosas técnicas com espadas
Guerreiro
São os sucessores das "primeiras regras da força",
e a usam
para melhorar suas habilidades físicas
ao invés de manifestá-la em sua forma pura.
Dão mais valor ao poder do que à técnica,
portanto eles preferem armaduras fortes e confiáveis
como as "Armaduras" do Continente Midreth.
Seu treinamento está estritamente focado na força física,
logo não precisam
aperfeiçoar a compreensão da Força Arcana (Inteligência).
Alocação de Status Recomendada
(Montante) FOR 9, INT 1, DES 2
(Daikatana) FOR 8, INT 1, DES 3
O dançarino mortal da espada, o mais veloz usuário de espadas duplas
Duelista
São sucessores das "regras intermediárias da força".
De acordo com registros da Torre dos Sábios,
suas técnicas se desenvolveram de uma arte marcial oriental antiga
que se concentra na velocidade.
Usam uma espada de um fio só em uma mão, ou
empunham com ambas as mãos duas espadas de lâminas duplas.
Precisam se mover rápido e ligeiro para suas técnicas,
por isso eles preferem armaduras leves
como os "Quimonos"
do Sul do Continente Huan.
Alocação de Status Recomendada
(Katana) FOR 5, INT 1, DES 6 
(Espada) FOR 6, INT 1, DES 5
Destruidor Definitivo, o Governante da Força Arcana
Mago
São sucessores das "regras avançadas da força"
que herdaram da Torre dos Sábios, e 
manifestam a força na sua forma mais pura.
Nos tempos antigos usavam "Cajados de Força" para ampliar a força,
mas após eles terem recuperado algumas das "Tecnologias do Núcleo",
um antigo conhecimento do passado,
foram capazes de criar um amplificador de força melhor, chamado "Amplificador de Força - Orbe"
usados nos pulsos.
Quanto a armaduras, preferem as leves, como os "Quimonos".
Alocação de Status Recomendada
(Orbe) FOR 1, INT 9, DES 2
Franco-atirador com disparos mortais que cortam o vento
Arqueiro Arcano
Originaram-se de uma facção dos Magos
e desenvolveram várias maneiras de 
manifestar a força para atacar à distância.
Eles usam primordialmente Cristais como arma, entretanto
também usam "Arcos Astrais" como vetores da força
entre eles e os Cristais
para controlar a força com mais eficiência.
Precisam de inteligência e agilidade para controlar a força na luta,
Por isso eles preferem armaduras como
Trajes de Batalha do Continente Pastur.
Alocação de Status Recomendada
(Cristal) FOR 2, INT 6, DES 4
O guerreiro leal que usa a força para proteger os outros
Guardião Arcano
Guardiões Arcanos usam escudos em uma mão e espadas
na outra mão para defender e atacar ao mesmo tempo.
Seu estilo de luta único inspirou muitos outros manipuladores da força.
Eles seguram os Cristais em sua mão esquerda para evocar o "Escudo Astral"
e usam uma espada na mão direita para atacar.
Como podem equipar o "Escudo Astral",
possuem a maior defesa dentre todos os estilos de luta.
Especializaram-se em defesa e uso de técnicas de apoio
ao invés de usar somente técnicas de luta agressivas,
portanto eles preferem equipamentos fortes e confiáveis como as "Armaduras". 
Alocação de Status Recomendada
(Espada) FOR 5, INT 4, DES 3
Espadachim da espada que reluz com a força
Espadachim Arcano
Espadachins Arcanos são os sucessores finais das regras da força,
e suas técnicas se desenvolveram de outros sucessores,
que os transforma em poderosos mas difíceis de subir de nivel porque suas habilidades não são especializadas em uma área.
Usam orbes na mão esquerda e uma espada na mão direita
para lançar formas de força agressivas e atacar fisicamente ao mesmo tempo.
Apesar do seu ponto fraco, sua habilidade de "Encantar Arma" 
compensa o risco de evoluir mais lentamente.
Valorizam o equilíbrio físico
e coordenação; portanto eles preferem armaduras como
Trajes de Batalha.
Alocação de Status Recomendada
(Katana) FOR 4, INT 4, DES 4 
INFORMAÇÃO DO ESTILO
Checar Item
Você recebeu um Item Instantâneo
Checar Item
Você possui itens no Inventário Cash
OK
AUTENTICAÇÃO
Saída
OK
Salvar ID
Teclado travado
LOGIN
Saída
OK
Salvar ID
Teclado leve
LOGIN
TECLADO DE SEGURANÇA
Menu
Menu
Nv.
Cancelar
Criar
Mulher
Homem
Nome
Sexo
Estilo de Luta
Aparência
Estilo de Cabelo
Cor de Cabelo
Rosto
Girar Tela
Criar Personagem
Mover direto
Mover para o Lobby da Missão de Guerra rápido.
Guerra começará em breve.
Fechar
Juntar-se
Cancelar
Esperando para entrar na Guerra
Cancelar
Sair
Adicionar
2,16:6
2,9:6
Iniciar
Voltar
0,2:6
Configuração da Sub Senha
Selecione o Personagem
Cancelar
OK
Duração da Conferência de Senha
Encaminhar
Inserir Senha
Sub-Senha
Criar Senha
Criar Senha
Localizar Senha
Localizar Senha
Apagar Senha
Apagar Senha
Alterar Pergunta/Resposta
Alterar Pergunta/Resposta
Estabelecer Sub Senha
Estabelecer Senha
Sub-Senha
Cancelar
Conectar ao Servidor
2,1:5
Selecione o Servidor
2,35:1
ITEM INSTANTÂNEO
2,26:1,27:2,28:5
ITEM PREMIUM
Convidar Membro
Convite para
Regra de Coleta
Mostrar membros do grupo
Delegar Liderança
Deixar grupo
Abrir Recrutamento
Convidar Membro
Convidar Membro
Regra de Coleta
Abrir Recrutamento ON
Abrir Recrutamento OFF
Deixar grupo
Somente para Líder
Todos os Membros
Mapa Estratégico (M)
Entrar na Guerra
Lista de Membros (V)
2,45:10
Ordem para Entrar
INFO
Cancelar
Recusar
Aceitar
Garantir comando
Detalhes
Solicitar grupo
Convidar para grupo
Mostrar membros do grupo
2,45:10
LISTA DE MEMBROS
Ver grupo
Garantir comando
Solicitar grupo
Convidar para grupo
Ver grupo
2,46:10
LISTA DE MEMBROS
Detalhes
Nv.
NOME
Placar
1,29:0,36:0,37:0,29:0
1,0:0
1,0:0
1,0:0
1,29:0,31:0,32:0,33:0,29:0
1,29:0,31:0,32:0,29:0,33:0,29:0
1,29:0,30:0,31:0,32:0,29:0,33:0,29:0
1,0:0
1,0:0
1,0:0
1,0:0
1,0:0
Del
Criar
1,1:0
Nv.
Adicionar Amigo
Adicionar grupo
Bloqueados
Guilda
Guilda
AMIGOS
Amigos
2,7:10
Adicionar na Lista de Bloqueados
Amigos
Guilda
Guilda
AMIGOS
Bloqueados
2,7:10
Menu de Guilda
Amigos
Bloqueados
AMIGOS
2,7:9
Informação
Lista de Membros (V)
Mestre de Guilda
Data de Criação
Número de Membros
Placar de Guilda
Guilda
Cancelar
OK
Procedimento de Confirmação do Proprietário
Por favor digite seu CPF.
N. Identidade
-
Cancelar
OK
Procedimento de Confirmação do Proprietário
Insira sua senha novamente.
Insira senha
2, 51:7
Título
Básico
Cancelar Título
Aplicar Título
0,63:24
Básico
Grau de Honra
WEXP
Pontuação
FOR
INT
DES
FOR
INT
DES
Ponto
Pontos de Honra
Ajuste Automático
Título
PERSONAGEM
Criação de Item
Especialização
Material Necessário
Qtd.
Geral
Criação de Item
Geral
2,20:10
Material Necessário
Qtd.
Especialização
CRIAÇÃO
[CH Info]
Fazer
Sair do Canal
Participar
Gravar o log de Chat
Todos
Básico
PM
Grupo
Guilda
Negociação
Gritar
Canal
Linha de Chat
Filtro de Chat
Config. Do Canal
Convidar para grupo
PM
Filtro de Mensagem
EXP
Alz
Item
Não
Sim
Excluir Personagem
Você decidiu excluir o personagem.
Os dados do personagem, incluíndo itens, serão apagados.
Tem certeza que deseja apagar o personagem?
Não
Sim
Remover Personagem
Você decidiu remover o personagem.
Tem certeza que deseja remover o personagem?
Por favor, lembre-se que será impossível recuperá-lo.
OK
Remoção de Personagem Completa
O personagem foi removido com sucesso.
A remoção do personagem foi finalizada.
Descrição
Conteúdo
AJUDA
2,13:25
Conteúdo
Descrição
AJUDA
Pet
Equip.
INVENTÁRIO
Equip.
Pet
Nome do Pet
Opções do Pet
Nível do Pet
Pet EXP
Os Slots de opção do Pet serão ampliados
de acordo com a sua evolução, sendo o nível máximo 10.
0, 34:200
PM
Solicitar grupo
Solicitar Troca
Adicionar Amigo
Seguir
Solicitar PvP
Loja Pessoal
Jogar o dado
Dançar
Procurar por grupo
Cancelar LFB
PM
Solicitar grupo
Requisitar Negociação
Adicionar Amigo
Seguir
Ver Loja Pessoal
Adicionar Amigo
Seguir
PM
Solicitar grupo
Requisitar Negociação
Convidar Membro
Abandonar grupo
Convidar Membro
Registro
Cancelar
Mudar
Mudar
Mudar
GRUPO
Opções do grupo
2,9:7
Solicitar grupo
Cancelar Registro
Buscar grupo
PROCURAR GRUPO
2,53:9
Remover Missão
Progresso
Calabouço
Exibir Detalhes
Exibir Somente Missões Disponíveis
MISSÃO
Lista de Missões
2,6:4
Lista de Missões
Calabouço
Abandonar Missão
Exibir Detalhes
MISSÃO
Progresso
0,5:5
Progresso
Lista de Missões
Exibir Detalhes
MISSÃO
Calabouço
0,5:5
Comprar
Restaurar
LOJA
Restaurar
Restaurar
Restaurar
Restaurar
Restaurar
Restaurar
Restaurar
Restaurar
Restaurar
Restaurar
Comprar
Mágica
Aprimorar
Especial
TÉCNICA
Grau de Espada
Requerimento
EXP de Espada
Ponto de Técnica de Espada
Slots de Espada (Em Uso / Total)
Espada
2,3:5
Espada
Aprimorar
Especial
TÉCNICA
Grau de Mágica
Requerimento
EXP Mágica
Ponto de Técnica de Mágica
Slots de Mágica (Em Uso / Total)
Mágica
2,3:5
Espada
Mágica
Especial
TÉCNICA
Slots de Aprimoramento (Em Uso / Total)
Aprimoramento
2,3:5
Espada
Mágica
Aprimoramento
TÉCNICA
Especial
2,0:1,4:1,0:1,4:1,0:1,4:2,0:1,4:1,0:1,4:1,0:1,4:1,0:1,4:1,0:1,4:1,0:1,4:22
AP
Essência
Slot de Essência (Em Uso / Total)
HABILIDADE ALMA
2,59:5
Supremo
Slot Supremo (Em Uso / Total)
Supremo
HABILIDADE ALMA
2,60:3
Essência
Quantidade
Cancelar
OK
TROCA
Criar com Alzes
Criar com Pontos
2,44:5
PAINEL DE CONTROLE
Estabelecer Senha
Estabelecer Senha
Cancelar
OK
SUB SENHA
Inserir Senha
Dep.
Ret.
ARMAZÉM
OK
Novo Calabouço
Você pode entrar no novo calabouço
Por favor, fale com o NPC.
OK
Nova Área
Você pode entrar na nova área
Por favor, fale com o NPC.
OK
Nova Área
Você pode entrar na nova área
Entrada:
ARMAZÉM DA GUILDA
Ret.
Dep.
Histórico de Uso
Organizar atual
Auto acumular itens
Você pode verificar os 100 casos recentes.
Ver Armazém
ARMAZÉM DA GUILDA
2,62:100
Fechar
Receber Tudo
INVENTÁRIO TEMPORÁRIO
Por favor, retire o item do inventário temporário
OK
Missão Completa
Você completou o objetivo da missão.
Por favor fale com o NPC.
OK
Nova Missão
Uma nova missão está disponível.
Por favor fale com o NPC.
Aplicar
Remover
2, 51:7
TÍTULO
2,49:3
BÔNUS DE VITÓRIA
Discordo
Concordo
Concordo
CONTRATO
Busca
Busca
Registro
2,54:15
2, 56:110
Comprar
Tipo
Grau
Épico
Ordenar
Selecione o tipo do item
Nome
Qtd.
Ação
 - Os 100 primeiros itens serão mostrados de acordo com o parâmetro de busca.
Preço
Recarregar
Recarregar
Registro
Registro
Comprar
2, 57:10
Registrar
Registrar
Lista de Registro
Item
Nome
Qtd.
Preço
Status
Preço
Quantidade Registrada
(Preço x Quantidade)
Taca de Venda (5%)
Ação
Venda
Vencido
Vendido
Quantidade Total
Alz
Período
Taxa de Cancelamento (5%)
Preço
Alz
Fechar
TROCA
Cancelar
OK
Buscando Informações no Servidor
Cancelar
OK
Nome do Amigo
Recusar
Aceitar
Você convidou um amigo.
Cancelar
OK
Convite da Guilda
Cancelar
OK
Permissão Convite
Permissão para Expulsar
Criar Subgrupo
Nome do grupo
Permissões
Cancelar
OK
Nome do grupo
Retirar
Mudar Info.
Apagar grupo
Apagar grupo
Apagar
Editar Mensagem
Convidar grupo
PM
Convidar para Guilda
Apagar grupo
Mudar Propriedades
Convidar para grupo
Confiar Liderança de Guilda
PM
Expulsar da Guilda
Expulsar da Guilda
Convidar grupo
PM
PM
Convidar grupo
Adicionar Amigo ao grupo
Apagar grupo
Mudar Nome
Cancelar
OK
Retirar da Lista de Bloqueados
O alvo será retirado da sua Lista de Bloqueados.
Quando o alvo for retirado, vocês poderão conversar.
Gostaria de retirar o alvo de sua Lista de Bloqueados?
Não
Sim
Apagar
O usuário será excluído da sua Lista de Amigos.
Deseja excluir este usuário da sua Lista de Amigos?
Não
Sim
Desfazer Guilda
A Guilda será desfeita.
Você só pode encerrar a guilda depois de expulsar todos os membros.
Tem certeza que deseja desfazer sua Guilda?
Não
Sim
Apagar grupo de Guilda
O grupo de Guilda será apagado.
Os membros do grupo serão transferidos para o grupo normal.
Gostaria de apagar o grupo de Guilda da sua lista de guilda?
Não
Sim
Apagar o grupo de Amigos
O grupo de Amigos será excluído.
Todos neste grupo serão excluídos da Lista sua de Amigos.
Deseja excluir o grupo da sua Lista de Amigos?
Não
Sim
Deixar Guilda
Você decidiu deixar a Guilda.
Tem certeza que deseja deixar esta Guilda?
Recusar
Aceitar
Gostaria de aceitar?
Cancelar
Aguardando resposta...
Não
Sim
Expulsar Membro da Guilda
Você decidiu expulsar o membro da guilda
Você tem certeza que quer expulsar o membro da guilda?
Cancelar
OK
Confiar Liderança de Guilda
Decidiu confiar a liderança da guilda para este membro.
A autoridade de Líder de Guilda será confiada ao alvo.
Cancelar
OK
Editar Nota de Bloqueio
Editar Nota de Personagens Bloqueados
Cancelar
OK
Editar Notas de Amigo
Editar Notas nos Amigos
Cancelar
OK
Permissão para Convidar
Permissão para Expulsar
Mudar Nome do grupo
Nome do grupo
Permissões
OK
Cancelar
Novo Nome do grupo
OK
Pérola Abençoada expirou.
Pérola Abençoada expirou.
Pérola Abençoada expirou; o item desaparecerá.
Marcar Item
Pérola Abençoada expirou.
Fechar
Receber
Receber Tudo
Por favor, receba os itens Cash.
INVENTÁRIO DE ITEM CASH
OK
Nada a perguntar
Guia da Loja de Itens
Por favor, permaneça em um lugar seguro ao usar a Loja de Itens.
Senão, o seu personagem pode ser atacado
enquanto utiliza a Loja de Item.
2,15:10
INVENTÁRIO DE ITEM CASH
Cancelar
OK
KIT DE MUDANÇA
Cancelar
Mudar Estilo
2,43:5
KIT DE MUDANÇA
OK
Guia para aumentar nível
FOR, INT e DES são distribuídos de acordo com a Meta,
: O mínimo necessáiro ou Meta de Crescimento para aumentar o Grau
: 5 Pontos são entregues para cada aumento de nível
: Distribuição automática de pontos de acordo com a Meta
Meta
Ponto
Ajuste Automático
Cancelar
OK
Sair do Canal de Chat
Sair do Canal de Chat
Você gostariade sair do Canal de Chat?
Nome do Canal:
Cancelar
OK
Participar da Conversa
Cancelar
OK
Insira a senha do Canal de Chat Pessoal
Cancelar
OK
Criar o Canal de Chat
Nome do Canal
Senha
Insira o nome e a senha do Canal de Chat
OK
Criar o Canal de Chat
Nome do Canal:
Senha:
Você criou o Canal de Chat com sucesso.
Criação de Item
Material Necessário
Criação de Item
Criação de Item
Material Necessário
Criação de Item
Criação de Item
Material Necessário
Criação de Item
OK
Punição de Morte
Seu personagem respondeu uma penalidade de morte.
Ela será retirada com o ganho de pontos de experiência.
Não
Sim
Derrubar Item
Este item é valioso. Pense com cuidado antes de vendê-lo
Tem certeza que deseja derrubar este item valioso?
OK
Item periódico esgotou.
Seu item periódico esgotou.
O seguinte item desaparecerá.
Marcar Item
Item periódico esgotou.
[Entrar no Mundo/Calabouço]
[Cancelar]
2,15:10
Selecione o Mundo/Calabouço
TELEPORTE
Não
Sim
Sair do Jogo
Você decidiu sair do jogo.
Tem certeza que deseja sair do jogo?
Recusar
Aceitar
Requisição feita. Deseja aceitar?
Recusar
Aceitar
Você recebeu uma requisição. Deseja aceitar?
Cancelar
Você requisitou uma Batalha de Guildas.
Aguardando resposta...
Criar
Cancelar
OK
Criar grupo
Nome do grupo
Ret. Alzes
Criar/Apagar grupo
Expulsar Membro da Guilda
Procurar Item
Convidar Membro
Editar Nota
Nome do grupo
Mudar Info.
Ret. Alzes
Criar/Apagar grupo
Expulsar Membro da Guilda
Procurar Item
Convite da Guilda
Editar Notícia
Convite da Guilda
Comunidade da Guilda
Editar Notícia
Criar grupo
Fechar Armazém
Mudar Nome
Desfazer Guilda
Deixar Guilda
Cancelar
OK
OK
Quant. Armazenável
Guardar Item
Quantidade encontrada
Entregar item
Cancelar
OK
Quantidade do Depósito
Cancelar
OK
Quantidade de Retirada
Cancelar
OK
Aviso da Guilda
Introdução da Guilda
Site da Guilda
INFORMAÇÃO DA GUILDA
[Cancelar]
[Criar Guilda]
O nome deve ter no máximo 20 caracteres.
É preciso ter entre 30 - 150 membros de Guilda
O número máximo de grupos dentro de uma Guilda são 16.
Apenas o Líder da Guilda e membros
com a 'Permissão de Convidar' podem recrutar
novos membros.
Por favor, insira o nome de sua Guilda.
Informação de Criação de Guilda
(Diferente de acordo com o Nível da Guilda)
NPC
Cancelar
OK
Mudar Nome
Mudar Nome (Custo 10.000.000 Alzes)
Nome Atual
Mudar Nome
Cancelar
Mudar
Mudar Nome
Nome Atual:
Mudar Nome:
Gostaria de mudar o Nome?
GPS
2,8:4
GPS Teleporte: ON
GPS Teleporte: OFF
Área de Nível Apropriado
Membro do grupo
Evento
Teletransporte
Oficial
Instrutor
Mercador
Alquimista
Armazém
Loja do Agente
Evento
Terrível
Forte
Médio
Fraco
Agente da Runa
Calabouço
Muito Fraco
Cancelar
Extração de Item
Extração de Item
[Material Básico]
[Material Add.]
0,14:4
CORREIO
0,38:1,40:1
Caixa de Correio
Escrever
CORREIO
Receber
Receber
Apagar Correio
Título
Remetente
Alz
Item
Data
Detalhe
Caixa de Correio
Você tem nova mensagem.
Fechar
Verificar
Uma mensagem do Time de GMs
2,18:10,19:5
2,10:10
Item
Catalisador
Custo
Alz
 - Para pegar aprimoramentos de Nvl 2
 você precisa usar 2 Núcleos Arcanos.
 - Você pode usar um item de nvl inferior
 como um Catalisador.
 - Núcleos e Catalisadores
 serão consumidos no uso.
Chance Sucesso
%
Taxa de Falha
%
Núcleo
Item
Núcleo
Custo
Alz
 - Todos os tipos de Extensores e Núcleos
 podem ser usados nos slots.
 - Taxa de sucesso dos Extensores e Núcleos
 variam dependendo do seu nível.
 - Item pode ser destruído se o aprimoramento
 falhar.
 - Para os itens com slot extendido,
 eles não serão destruídos se falhar.
 Mas o slot extendido será apagado
 como penalidade.
Taxa Sucesso (Máx. 50%)
%
Taxa de Destruição
%
Item
Núcleo
Catalisador
Apr. Arcano (Chance)
Custo do Aprimoramento
50.000 Alzes
Chance Sucesso
Por favor, coloque no slot Item o Item
que deseja aprimorar.
Você precisa de pelo menos 1 Núcleo Arcano
no slot do núcleo. Catalisador é um item
que determina a propriedade
do aprimoramento. O Núcleo Arcano e
que forem usados desaparecerão
após o aprimoramento.
1 Nv
2 Nv
Runa de Animação
Núcleo
Custo
Alz
 - Núcleo Arcano (Altíssimo) é necessário
 para treinamento de Pet. (slot)
 - Treinamento de Pet tem 100% de acerto.
 - Custo para o Treinamento do Pet depende
 do slot que será aprimorado.
 - Núcleos serão consumidos quando usados.
Nível do Pet
Nv.
Slot de Treinamento
cd
Você pode aprender técnicas avançadas
No Instrutor Harper, em Porto Lux
Aprimoramento de Item
Aprimoramento em andamento
Aprimoramento de Pet em andamento
Aprimoramento de Item
Treinamento de Pet
Slot de Item vazio
Tentar Novamente
Slot de Runa de Animação vazio
Re-treinar Pet
Slot de Item vazio
Tentar Novamente
NPC
NPC
Taxa de Acerto
Custo:
Runa Suprema
Material
* Runa de Essência e Núcleo para criar
serão perdidos.
2,61:5
Criar
Criar de novo
Criando
Gostaria de juntar-me a Capella
Gostaria de juntar-me a Procyon
Deixe-me pensar a respeito.
No momento, muitos dos Lutadores de Nevareth
Ambas as Nações são similares
em números, mas caso se junte a
$4#menos Pontos de Honra$ na $4#caça$ e $4#na Guerra$
do que pessoas da outra Nação.
estão debatendo qual Nação
Quer dizer, você não tem vantagem
em juntar-se à Nação com mais gente.
você terá chance de ganhar
uma Nação com mais membros,
NPC
[Habilidade NPC]
[Missão]
2,10:10
NPC
Aceite a Recompensa Adicional
2,22:1,23:1,22:1,24:1,22:1,25:2
Recompensa Adicional da Missão
NPC
NPC
[Aceite a Recompensa do Calabouço]
Recompensa do Calabouço
Item
Técnica
Normal
Por favor, escolha uma recompensa da Missão.
Nada a perguntar.
Não
Sim
Comprar Item
Comprar Item
Tem certeza que deseja comprar o item?
Não
Sim
Habilidades Treinadas
Você já aprendeu esta.
Comprar mesmo assim?
Você não pode usar este livro para treinar novamente.
Espada
Mágica
Aprimorar
NPC
Mostrar somente Habilidades disponíveis
2,10:10
NPC
2,11:10
Sair.
NPC
Ver meta executável
Recompensas
Informação de Meta
Participar
Recompensa Recebida
Fechar
2,58:20
NPC
2,11:8,21:4
Habilidade NPC
Sair.
Olá?
$5#[Habilidade NPC]$ significa habilidades únicas
tais como lojas de itens ou treinamento de técnicas.
$5#[Missão]$ significa missões que você pode
receber. O progresso de uma missão será
Deixe-me apresentar as habilidades dos NPCs.
mostradas como $5#(Início)$, $5#Em progresso)$,
$5#(Completa)$. Como posso lhe ajudar?
NPC
Cancelar
OK
Jogo
Som
Fonte
Efeito de Clima
Efeito Distorção
Modo Janela
Definições de Vídeo e Gráficos
Resolução
Taxa de atualização
Gama
Sombras
Efeito de Água
Obscurecer
Processamento Gráfico
Campo de Visão
Efeito
Amostras Múltiplas
Gráficos
Cancelar
OK
Gráficos
Som
Fonte
Sussurrar
Negociação
Grupo
Nome do Jogador
Nome do Monstro
Nome do NPC
Nome do Item
Auto Ataque
HP do Personagem
HP do Monstro
Ver Capacete
Usar Teclas Numéricas
PvP
Nome de Guilda/Emblema
Gritar
Bolhas de Diálogo
Interface de Combo no Topo
Deslizar/Teleporte para Cursor
Título do Jogador
Ponteiro do Mouse fixo ao girar câmera
Habilitar Personagem para
Visualizar
Misc.
Cãmera
Jogo
Cancelar
OK
Gráficos
Jogo
Fonte
Mostrar a Jukebox(J) na tela
Sussurar Notícia
Efeitos Sonoros
BGM
Jukebox
Som
Cancelar
OK
Retornar Fonte Padrão
Gráficos
Jogo
Som
Fonte
Tamanho
Fonte Padrão
Fonte
Tamanho
Número da Fonte
Fonte
Cancelar
OK
Reiniciar Fonte
Gráficos
Jogo
Som
Fonte
Tamanho
Letras/Números Fonte
Fonte
OPÇÕES
Cancelar
OK
Itens Comuns
Coleta Livre
Alternada
Somente para Líder
Itens presos à conta
Jogar o dado
Ajuste Imediato
OPÇÃO DE GRUPO
Cancelar
OK
Usar Cartão de Renomeção de Pet
Usar Cartão de Renomeção de Pet para mudar o nome do Pet
Nome Atual
Novo Nome
OK
Penalidade de PK
Você não pode falar com os NPCs e usar Portais de Teletransporte
Cancelar
OK
Revestir Moto Astral
Revestir Moto Astral usando Kit.
Altera a cor e a habilidade de sua Moto Astral
Usando 1 Kit de Revestimento.
Gostaria de continuar?
Conectando...
Conectando...
Carregando...
Aguarde Teletransporte
Comprar
Fechar
Preço
Preço
Preço
Preço
Preço
Preço
Venda
Vender
Iniciar
Parar
LOJA PESSOAL
Iniciar
Mudar
Fechar
Atualização
Preço
Preço
Preço
Preço
Preço
Preço
Preço
Preço
Venda
Venda
Vender
LOJA PESSOAL
OK
Cancelar
Nome do Personagem
Padrão
Todos os Membros do grupo
Contribuição
Alternada
Aleatória
Alternada
Coleta Livre
Não
Sim
Abandonar grupo
Você decidiu sair do grupo.
Tem certeza que deseja sair do grupo?
Cancelar
OK
Expulsar Membro
Você decidiu expulsar o membro do grupo.
Tem certeza que deseja expulsar o membro do grupo?
Cancelar
OK
Registro de grupo
Membros
Recusar
Aceitar
Você aceitou a missão.
Cancelar
Aguardando resposta...
Contribuição
Aleatória
Alternada
Por Ordem
Coleta Livre
Autorizar todos os membros para convidar ao grupo
Divisão
Definir Divisão
Apenas o Líder do Grupo pode mudar a divisão
Você pode alterar a divisão mesmo durante
o jogo. Por favor, escolha a divisão de itens.
Recusar
Aceitar
Você foi convidado.
Cancelar
Aguardando resposta...
Cancelar
OK
Aposta de PVP
Alz 
Pontos de Honra
O vencedor do PVP ganha os Alzes e Pontos de Honra.
Cancelar
OK
Aposta de PVP
Aposta de Alzes:
Aposta de Pontos de Honra:
O vencedor do PVP ganha os Alzes e Pontos de Honra.
Alzes e Pontos de Honra Apostados.
Recusar
Aceitar
Você requisitou um PVP.
Cancelar
Você requisitou um PVP.
Aguardando resposta...
    1          2
Desafiar Calabouço de Missão
Penalidade:
CALABOUÇO
Cancelar a entrada no Calabouço
Você desistiu antes de entrar no calabouço.
Você decidiu retornar à entrada do Calabouço.
Gostaria de continuar?
Cancelar
OK
OK
Calabouço Finalizado!
Gostaria de ver seu tempo?
OK
Calabouço acabou
Penalidade:
CALABOUÇO
OK
Calabouço Finalizado!
CALABOUÇO
OK
Registrar Itens
Quantidade
Cancelar
OK
Usar Cartão de Renomeação
Mude o nome de seu personagem usando o Cartão de Renomeação.
Nome Atual
Novo Nome
OK
Descanso
Você está em Descanso agora.
Não
Sim
Venda de Item
Você decidiu vender o item.
Tem certeza que deseja vender o item?
Não
Sim
Nada a perguntar.
Venda de item
Item valioso. Pense com cuidado antes de vendê-lo.
Tem certeza que deseja vender este item valioso?
Não
Sim
Esconder Mensagem
Comprar Item
Você está comprando o item.
Tem certeza que deseja comprar o item?
Não
Sim
Nada a perguntar.
Comprar Item
Deseja comprar?
Preco:
Não
Sim
Comprar Item
Item valioso. Pense com cuidado antes de vendê-lo.
Cancelar
OK
Aviso
Este é um aviso sobre a venda de Itens de Missão em NPCs.
Caso venda seus Itens de Missão,
talvez não consiga prosseguir com suas missões.
Gostaria de continuar?
Cancelar
OK
Apagar Técnica
Você decidiu apagar a técnica.
Deseja apagar a técnica completamente?
OK
Guia do Usuário dos Fantoches
Você pode preticar suas técnicas nos fantoches de treinamento.
Pratique e ganhe Pontos de Técnica até um limite,
nos fantoches de treinamento dos Mapas Iniciais.
OK
Novas Técnicas
Aprender Novas Técnicas
Você pode aprender novas técnicas de instrutores nas cidades.
OK
Não é possível mudar o Nível da Técnica
Missão de Aprimoramento de Técnica
Quanto executa missões para aprimorar técnicas,
você não pode mudar o nível das técnicas.
Não
Sim
Regredir Técnica
Você decidiu regredir a técnica.
Gostaria de reduzir o nível da técnica com a regressão?
Cancelar
OK
Regredir Técnicas de Aprimoramento
Gostaria de regredir a Técnica de Aprimoramento?
Você não pode regredir nenhuma Técnica de Aprimoramento.
O número de slots de Técnicas de Aprimoramento é afetado
pelo Grau de Espada ou Mágica.
OK
Distribuição de Itens
Quantidade
Cancelar
OK
Extensão do slot Arcano
Você decidiu estender o número de slots Arcanos.
Usando 1 Extensor de Núcleo adicionará mais
1 slot Arcano neste item.
Entretanto, o item será preso à conta.
Cancelar
Cancelar
Negociação completa
OK
Confirmar Negociação
Está pronto para começar a negociação?
Lembre-se, uma vez confirmada, você não
pode mudar os itens ou quantidade de Alz.
Gostaria de continuar?
Confirmar Negociação
Você gostaria de completar a negociação?
Por favor verifique o nome do personagem, itens,
e a quantia de Alzes.
Nome parecido ao nome na lista de amigo ou de guilda
Recusar
Aceitar
Uma negociação foi requisitada. Continuar?
Cancelar
OK
Quantidade da Negociação
Cancelar
Você requisitou uma negociação.
Esperando resposta.
Cancelar
OK
Aprimoramento de Item
Aprimorar o Núcleo usando o Otimizador de Núcleo.
Aumenta a chance de sucesso do Núcleo
de Aprimoramento usando o Otimizador de Núcleo.
Cancelar
OK
Aprimoramento de Item
Você pode aprimorar os itens usando Núcleos de Aprimoramento.
Aumenta o poder do item
ao gastar 1 Núcleo de Aprimoramento.
Mas os requerimentos de atributos do item vão aumentar.
Cancelar
OK
Aviso
Este é um aviso sobre a venda de Itens de Missão em NPCs.
Caso coloque itens de missão em seu armazém,
talvez não consiga prosseguir com suas missões.
Gostaria de continuar?
Cancelar
OK
Depositar
Cancelar
OK
Retirar
Calabouço acabou
Usar Talismã da Ressurreição
Usar Talismã da Ressurreição
Abrir Loja de Itens
Vá ao Ponto Inicial
Vá ao Ponto Inicial
vezes
Sobrando:
seg
seg
Seu personagem foi derrotado.
Seu personagem foi derrotado e será teleportado.
Será teleportado para o Ponto mais próximo em 180 seg.
Gostaria de reviver neste local?
Seu personagem foi derrotado.
Será teleportado para o Ponto mais próximo em 180 seg.
Você não pode usar mais Talismãs
Seu personagem foi derrotado.
Será teleportado para o Ponto mais próximo em 180 seg.
Gostaria de reviver neste local?
Seu personagem foi derrotado.
O Calabouço irá terminar em 3 min.
Seu personagem foi derrotado.
Você não possuí Talisman da Ressurreição.
Você gostaria de comprar Talisman da Ressurreiçaõ na Loja de Itens?
Não
Sim
Você gostaria de participar?
A recompensa de evento só pode ser recebida de acordo com os
números limitados de configuração da recompensa.
Recompensas Restantes 
Evento
Não
Sim
Você gostaria de participar?
A recompensa de evento só pode ser recebida de acordo com os
números limitados de configuração da recompensa.
Recompensas Restantes
Evento
Ajuste Imediato
Desistir
Oferta
Oferta
Jogar o dado
Desistir
Jogar o dado
Jogar o dado
Cancelar
OK
Comprar
Você decidiu comprar um item de uma Loja Pessoal
Tem certeza que deseja comprar o item?
Cancelar
OK
Retirar Item
Você decidiu retirar o item de sua lista de venda.
Tem certeza que deseja retirar o item de sua lista de venda.
Cancelar
OK
Preço de Venda do Item
Cancelar
OK
Valor Automático
Preço de Compra do Item
Cancelar
OK
Mudar Preço do Item
Você decidiu mudar o preço do item
Tem certeza que deseja mudar o preço do item?
Cancelar
OK
Fechando Loja Pessoal
Você está fechando a sua Loja Pessoal.
Deseja fechar a sua Loja Pessoal?
(Quando fechar a sua Loja, os itens registrados
na lista de venda serão movidos para o seu inventário
Cancelar
OK
Parar Modo de Venda
Está cancelando o Modo de Venda
Deseja parar o Modo de Venda?
 
 
Não
Sim
Esconder Mensagem
Usar Pedra de Telepote
Mover para o Teleporte de Recompensa de Nação
Pedra de teleporte será usada por uma nação derrotada ao usar
Teleporte de Recompensa da Nação. Deseja usar o teleporte?
Tipo de Item
Classe Recomendada
Comprar
Comprar
1,54:0,55:0
1,0:0
Receber Alzes
Cancelar
Atualizar
Registrar
1,7:0
1,6:0,17:0
Receber
Informação
Vezes disponíveis:
Número:
Opção:
1,13:0
1,14:0
1,14:0
1,41:0
1,41:0
1,0:0
1,53:0
1,6:0,17:0
Repetir História do Capítulo
1,52:0
1,0:0
Alzes (Pontos)
1,45:0
1,50:0
1,0:0
0
1
2
3
4
5
6
7
8
9
`
-
=
\
q
w
e
r
t
y
u
i
o
p
a
s
d
f
g
h
j
k
l
z
x
c
v
b
n
m
[
]
;
'
,
.
/
Delegar Liderança
Expulsar Membro
Dar direito de Convite
Retirar direito de Convite
EXP Ganho
EXP Perdido
Punição de Morte
AXP
INFORMAÇÃO DO ITEM
Pontos de Descanso
Cancelar
Cancelar
OK
Quantidade
Preço
Alz
Quantidade
Preço
Alz
OK
Desconectado
Você foi desconectado do servidor.
Relogue após clicar em 'OK'
OK
Não foi possível conectar-se ao servidor
Você não conseguiu conectar-se ao servidor.
Pressione o botão de confirmação para sair do jogo.
OK
Login Duplo
Tentativa de Login Duplo na mesma Conta
Você foi desconectado do servidor porque
alguém tentou logar-se no jogo com a mesma ID.
Desconectado
Houve um erro de comunicação com o servidor.
Relogue após clicar em 'OK'
OK
Sair do Programa
O programa está sendo fechado pois alguns arquivos estão corrompidos.
Por favor, reinicie e verifique os arquivos do jogo.
(Caso o erro persista, por favor, faça uma 
reinstalação completa do jogo.)
OK
OK
Aviso de Item no Inventário Temporário
Por favor mova seu item do inventário temporário
O item no Inventário Temporário pode ser perdido após
Desconectado. Por favor mova seu item para o Inventário.
OK
Informação de Erro
O item não existe.
O item não existe e será automaticamente removido.
OK
Informação de Erro
O slot já está em uso.
A ação não pode ser feita pois o slot já está em uso.
OK
Informação de Erro
O jogo será pausado alguns momentos.
O jogo continuará em 5 segundos.
seg
Desconectado
Houve um erro de comunicação com o servidor.
Por favor, saia do jogo e relogue.
OK
Sair do Jogo
Desconectado
Você foi desconectado do servidor.
Por favor, saia do jogo e relogue.
OK
Desconectado
Um erro foi detectado pelo sistema de proteção anti-hack.
Sair do Programa
Padrão de jogo incomum detectado.
O jogo será fechado por padrão de jogo incomum.
OK
Limite de Usuário de Teste Gratuito
É reservado a Usuários de Teste Gratuitos.
 - Você não pode aumentar o nível do seu personagem além de 50.
 - O período gratuito é de 7 dias após o registro da sua conta.
(Por favor, visite o Site Oficial do Cabal Online para mais detalhes)
OK
Avisar Evento
Falha ao conectar-se ao servidor do mundo.
Houve uma falha ao conectar-se ao servidor do mundo.
Pressione o botão de confirmação e tente relogar.
OK
Falha ao conectar-se ao servidor.
Houve uma falha ao conectar-se ao servidor.
Por favor, tente mais tarde.
OK
Falha ao conectar-se ao servidor do mundo.
Houve uma falha ao conectar-se ao servidor do mundo.
Por favor, tente reconectar-se.
OK
Remover Missão
Deseja abandonar a missão?
Missões abandonadas não aparecerão no campo de Missões 
disponíveis. Quando você abandona a missão, ela não
será cancelada e as conquistas na missão serão resetados.
Cancelar
Remover Missão
Não
Sim
Abandonar Missão
Deseja remover a missão?
Esta missão será removida da sua lista de missões em 30 segundos.
Abandonar Missão
Gostaria de abandonar a missão?
Objetivos da Missão serão reiniciados após o abandono.
Missões abandonadas podem ser recomeçadas do início.
Cancelar
Abandonar Missão
Login Duplo
A ID já está em uso.
A ID foi conectada ao servidor.
Gostaria de fechar a sessão e reconectar-se?
Não
Sim
Sair do Jogo em Calabouço
Você decidiu sair do jogo em um calabouço.
Caso saia do jogo enquanto estiver em um calabouço,
o calabouço atual será automaticamente finalizado.
(Você será penalizado e perderá o Item de Entrada.)
Não
Sim
Sair do Jogo em Calabouço
Você decidiu sair do jogo em um calabouço.
Caso saia do jogo enquanto estiver em um calabouço,
o calabouço atual será automaticamente finalizado.
(Você será penalizado e perderá o Item de Entrada.)
Não
Sim
Entrada de Calabouço
Cancelando Busca de grupo
Achar membro de grupo será cancelado automaticamente quando
você entrar no calabouço. Você deseja entrar?
Não
Sim
Sair do Jogo em Calabouço
Você decidiu sair do jogo em um calabouço.
Você sairá do calabouço automaticamente para entrar
no mapa de Guerra. Deseja sair?
(Você será penalizado e perderá o Item de Entrada.)
Não
Sim
Desconectar
Você está se desconectando.
Deseja desconectar?
Sim
Não
Desconectar
Desconectando.
Deseja desconectar?
Não
Sim
OK
Aviso
Isto é um aviso
Sub senha
A senha temporária foi enviada.
A senha temporária deve ser usada uma única vez.
A Sub Senha deve ser reconfigurada.
OK
Sub senha
Q.
A.
Por favor, escreva a resposta de acordo com a pergunta.
Configurar a Pergunta e a Resposta
Cancelar
OK
Atualizar
O jogo fechará para receber a Atualização.
Por favor, reinicie o jogo para receber a Atualização.
Por favor, Reinicie o jogo.
A missão está sendo removida...
Por favor, aguarde.
A remoção da missão acontecerá em 30 segundos.
Ela será removida. No momento, ela está em espera para ser removida.
Marcar Símbolo Inimigo
Marcar grupo Aliado
Base Aliada
Base Inimiga
Ponto Aliado
Ponto Inimigo
Ponto Neutro
Membro do grupo
Líder do grupo aliado
Ponto de Batalha
Teleporte/Ressurreição
Líder do grupo
Ver Recompensa
GPS
2,48:5
Ponte de Teletransporte Premium Adicional
Recompensa da Nação
Recompensa Pessoal
Recompensa da Nação
2,47:5
Recompensa Pessoal
RECOMPENSA
Placar de Guerra
QG Ocupado
Fortaleza Ocupada
Inimigo Destruído
Torre Arcana Destruída
Guardião do Legado Destruído
Capella
Procyon
Torres Arcanas Remanescentes
Recompensa Pessoal
2,48:5
Ponte de Teletransporte Premium Adicional
Recompensa de Nação
Sair Após Receber Recompensa
Recompensa de Nação
Fechar
2,47:5
Preparação
Total
Recompensa Final
Equipamento Usado
Equipamento Total
Bônus de Vitória
Contribuição
Ranking
Recompensa de Ranking
Alz
Alz
Alz
Alz
Alz
WEXP Adquirida
p
Dano Dado
Dano Recebido
Pontos de Cura
Construção
Recebeu AXP
AXP
Recompensa Pessoal
NOTÍCIAS
Criar Personagem no Servidor Teste
Gostaria de criar um personagem no Servidor Teste?
Lembre-se, cada personagem no servidor teste pode ser refeito
a qualquer momento para testes do jogo.
Não
Sim
Punição de Morte
HP
MP
Punição de Morte
HP
MP
Selecionar Personagem
Cancelar
Sair do Jogo
Mensagem dos GMs
Opções
Selecionar Servidor
MENU
Desconectado
Você será desconectado do servidor.
Você será desconectado do servidor em 5 segundos.
seg
Desconectado
Você será desconectado do servidor
Devido a falta de ganhos pessoais no ranking no status
seg
Você será desconectado automaticamente do servidor
Chat
Apagar
Apagar Tudo
Editar Notícia
Esconder
Mini Mapa
OK
Cancelar
Editar campo de aviso
Criar
Cancelar
Criação de Guilda
Criar uma guilda.
10,000,000 Alzes serão gastos para criar a Guilda.
Terminar Guilda
Cancelar
Terminar Guilda
A guilda será terminada.
10,000,000 Alzes serão gastos para criar a Guilda.
a guilda novamente.
Cancelar
Fechar
Abrir Loja de Itens
Entrar
Não
OK
Sim
Receber WEXP 150%
Não
Sim
Nada a perguntar.
Apagar Correio
A mensagem será apagada.
Realmente deseja apagar a mensagem?
(e-mail deletado não será recuperado)
Não
Sim
Apagar mensagem
Há itens ou Alzes não recebidos
Realmente deseja apagar a mensagem?
(e-mail deletado não será recuperado)
OK
Organizar caixa de entrada
Sua caixa de entrada está cheia.
Mensagens não puderam ser recebidas pois sua Caixa de Mensagem está cheia.
Por favor, esvazie sua Caixa de Correio.
Não
Sim
HABILIDADE ALMA
Você gostaria de aprender Habilidade de Alma?
Custo:
Habilidade:
Habilidade de Alma:
HABILIDADE ALMA
Custo do Aumento:
Aumento de Nivel:
HABILIDADE ALMA
Item de Habilidade e o valor gasto não podem ser
Você gostaria de apagar a Habilidade de Alma?
Apagando Habilidade de Alma.
devolvidos após apagados.
Verificação de Segurança Cabal
POR FAVOR, INSIRA O CÓDIGO
DE VERIFICAÇÃO POR IMAGEM
OK
HP
MP
SP
/
/
/
Perguntar depois
Ajustar agora
Nada a perguntar.
Alerta de Segurança
Você não configurou a Sub Senha
Amigo(B)
Personagem(C)
Correio(L)
Grupo(P)
Loja de Itens
Técnicas(K)
Ajuda(H)
Inventário(I)
Habilidade de alma(U)
Em Construção
GPS(M)
Opções(O)
Missão(T)
Atualizar
Chat-Canal
Chat-Canal
Chat-Guilda
Chat-Guilda
Chat-Gritar
Chat-Gritar
Chat-Normal
Chat-Normal
Chat-grupo
Chat-grupo
Chat-Negociação
Chat-Negociação
Chat-PM
Chat-PM
Amigo(B)
Personagem(C)
Correio(L)
Grupo(P)
Loja de Itens
Técnicas(K)
Ajuda(H)
Inventário(I)
Habilidade de alma(U)
GPS(M)
Opções(O)
Missão(T)
Recarregar Membros da Guilda
No momento, vendendo itens na Loja Pessoal.
Você apenas pode usar o item quando o seu Grau de Classe for 11
Apenas para Usuários Premium .\O serviço Premium está disponível na Loja de Itens.
Apenas para Usuários Premium .\O serviço Premium está disponível na Loja de Itens.
Apenas para Usuários Premium .\O serviço Premium está disponível na Loja de Itens.
Apenas para Usuários de Pérola Abençoada - Armazém.\A Pérola Abençoada - Armazém está disponível na Loja de Itens.
Lista Temporária
Ordenar por Nome do grupo
Mostrar Online apenas
Ordenar por Nome do grupo
Mostrar Online apenas
Cabeça
Corpo
Mãos
Pés
Arma
Arma
Dragona
Pescoço
Dedo
Dedo
Prancha / Moto
Orelhas
Orelhas
Pulso
Pulso
Dedo
Dedo
Cintura
Fim do Descanso
Canal
Canal
Chat-Guilda
Chat-Guilda
Chat-Gritar
Chat-Gritar
Chat-Normal
Chat-Normal
Chat-grupo
Chat-grupo
Chat-Negociação
Chat-Negociação
Sussurro-Chat
Sussurro-Chat
Usuários com Serviços Premium adequado ou Pérola Abençoada - Extra podem usar o GPS Teleporte
Usuários com Serviços Premium adequado ou Pérola Abençoada - Extra podem usar o GPS Teleporte
Preparando
Registro Automático
Registro Automático
Registro Automático
Registro Automático
Registro Automático
Registro Automático
Registro Automático
Registro Automático
Placar de Guerra do Inimigo
Pontos de Guerra dos Aliados
Placar de Guerra dos Aliados
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
Este serviço é somente para usuários Premium.
